html {
    height: 100%;
    display: flex;
}

body {
    font-family:'Courier New', Courier, monospace;
    color: #393739;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    background-image: url("C:/Users/gabri/OneDrive/Documents/Cyber Security/Year 1/Semester 2/Web development/Web-Dev-Project/Web-Dev-Project/Background-image.jpg");
    background-size: cover;
}

header {
    background-color: #e8e8ef;
    text-align: left;
    color: #393739;
    font-size: 15px;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 90px;
}

header h1 {
    position: relative;
    top: 8px;
}

#navigation-menu ul {
    list-style-type: none;
    text-align: right;
    color: #393739;
    font-size: 18px;
    position: relative;
    bottom: 90px;
}

#navigation-menu li {
    display: inline-block;
    position: relative;
    padding: 0px 5px;
}

#navigation-menu li a {
    text-decoration:none;
    display: block;
    padding: 5px 20px;
    background: #393739;
    color: white;
    border-top:2px solid #676467;
    border-right:2px solid #121112;
    border-bottom:2px solid #121112;
    border-left:2px solid #676467;
}

#navigation-menu li a:hover {
    background: #8a878a;
    color: black;
    border-top:2px solid #121112;
    border-right:2px solid #676467;
    border-bottom:2px solid #676467;
    border-left:2px solid #121112;
}

#image {
    border: 2px solid #e8e8ef;
    position: relative;
    left: 15px;
    bottom: 15px;
}

#home {
    position: relative;
    left: 750px;
    bottom: 260px;
    font-size: 25px;
    width: 400px;
}

#article {
    position: relative;
    margin-left: 835px;
    bottom: 250px;
    font-size: 18px;
}

#about-h1 {
    text-align: center;
    position: relative;
    bottom: 20px;
}

#about-header {
    background-color: #e8e8ef;
    text-align: left;
    color: #393739;
    font-size: 15px;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 45px;
}

#education {
    position: relative;
    bottom: 6px;
}

#div-education {
    display: flex;
    flex-direction: row;
}

#div-education ul li {
    padding: 7px 0px;
}

#hobbies {
    position: relative;
    bottom: 6px;
}

#div-hobbies {
    display: flex;
    flex-direction: row;
}

#div-hobbies ul li {
    padding: 7px 0px;
}

#about-video {
    position: relative;
    bottom: 15px;
}

#interests-article {
    padding-bottom: 100px;
}

#interests {
    position: relative;
    bottom: 6px;
}

#div-interests {
    display: flex;
    flex-direction: row;
}

#div-interests ul li {
    padding: 7px 0px;
}

#totop {
    position: relative;
    top: 30px;
    left: 600px;
}

#experience-h1 {
    text-align: center;
    position: relative;
    bottom: 20px;
}

#experience-article {
    background-color: #e8e8ef;
    color: #393739;
    height: 250px;
    width: 49%;
    float: left;
    position: relative;
    bottom: 0px;
    padding-bottom: 600px;
}

#experience-article ul li {
    padding: 15px 0px;
}

#blankspace-1 {
    padding-bottom: 340px;
}

#OU {
    text-align: center;
    padding: 15px;
}

#Open-University {
    position: relative;
    left: 160px;
    bottom: 14px;
    padding-bottom: 10px;
}

#experience-aside {
    background-color: #e8e8ef;
    color: #393739;
    padding: 15px;
    float: right;
    height: 235px;
    width: 47%;
    position: relative;
    bottom: 0px;
    padding-bottom: 600px;
}

#experience-aside ul li {
    padding: 15px 0px;
}

#CC {
    text-align: center;
}

#codecademy {
    position: relative;
    left: 160px;
    padding-bottom: 27px;
}

#work-h1 {
    text-align: center;
    position: relative;
    bottom: 20px;
}

#work-header {
    background-color: #e8e8ef;
    text-align: left;
    color: #393739;
    font-size: 15px;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 45px;
}

#work-vm {
    position: relative;
    bottom: 6px;
}

#work-div1 {
    display: flex;
    flex-direction: row;
}

#work-video {
    position: relative;
    bottom: 11px;
}

#work-div1 ul li {
    padding: 5px 0px;
}

#work-df {
    position: relative;
    bottom: 6px;
}

#work-div2 {
    display: flex;
    flex-direction: row;
}

#work-div2 ul li {
    padding: 5px 0px;
}

#work-article {
    padding-bottom: 100px;
}

#work-cr {
    position: relative;
    bottom: 6px;
}

#work-div3 {
    display: flex;
    flex-direction: row;
}

#work-div3 ul li {
    padding: 5px 0px;
}

#contact {
    display: inline-block;
    position: relative;
    left: 250px;
    top: 70px;
}

#contact img {
    padding: 0px 20px;
}

#linkedin {
    border-radius: 20%;
}

#github {
    border-radius: 20%;
}

footer {
    background-color: #e8e8ef;
    font-size: 15px;
    color: #393739;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}